
ul>li{
    display: inline-block;
}

section{
    background-color: beige;
    padding: 10px;
    float: left;
    width: 100%;
}


article{
    background-color: aqua;
    float: left;
    padding: 20px;
    width: 100%;
    margin: 5px 0;

}

footer{
    background-color:bisque;
    width: 100%;
    float: left;
    padding: 10px;
    margin: 10px 0 0 0;
}